*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(248, 248, 248);
}

.header{
    display: flex;
    flex-direction: column;
    background-color: rgb(10, 152, 247);
    height: 105px;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
}

.footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(79, 148, 252);
    height: 75px;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 0;
}


#qiuz_header{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 20px;
    left: 450px;
}
#quiz_footer{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 20px;
    left: 295px;
}

#imgs{
    height: 20px;
    width: 20px;
}


.main-content{
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    padding-top: 4%;
    padding-bottom: 10%;
    padding-left: 10%;
}

.main-content span{
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    padding: 5%;
    font-size: larger;
}


.ques1{
    padding: 1%;
}



.btn{
    display: flex;
    height: 60px;
    width: 80px;
    margin-left: 30%;
    border: solid 3px green;
    border-radius: 20px;
    background-color: rgb(14, 156, 9);
    cursor: pointer;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.btn:hover{
    background-color: blue;
}

.end span{
    margin-left: 10%;
    margin-bottom: 2%;
    color: green;
    font-weight: bolder;
}

.check{
    height: 15px;
    width: 15px;
}

#apt:hover{
    cursor: pointer;
}

input[type=radio] {
    height: 15px;
    width: 15px;
}




@media only screen and (max-width:500px){
    .header{
        display: flex;
        flex-direction: column;
        background-color:rgb(10, 152, 247);
        height: 140px;
        justify-content: center;
        align-items: center;
        position: sticky;
        top: 0;
    }
    .footer{
        display: flex;
        flex-direction: column;
        background-color: rgb(79, 148, 252);
        height: 100px;
        justify-content: center;
        align-items: center;
        position: sticky;
        bottom: 0;
    }
}